<header>
    <dx-toolbar class="header-toolbar">
        <dxi-item
            *ngIf="menuToggleEnabled"
            location="before"
            widget="dxButton"
            cssClass="menu-button"
            [options]="{
                icon: 'fab fa-cloudscale',
                stylingMode: 'text',
                onClick: toggleMenu
            }">
        </dxi-item>
        <dxi-item
            location="before"
            widget="dxSelectBox"
            cssClass="repo-selector"
            [options]="{
                items: repos,
                stylingMode: 'outlined',
                value: repos[0],
                onValueChanged: selectRepo
            }">
        </dxi-item>
    </dx-toolbar>
</header>
